<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste des organes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Liste des organes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Liste des organes -->
  <ion-list>
    <ion-item *ngFor="let organe of organes">
      <ion-label>
        <h2>Organe : {{ organe.organe }}</h2>
        <p>Quantité : {{ organe.quantite }}</p>
        <p>État : {{ organe.etat }}</p>
      </ion-label>

      <!-- Bouton Modifier -->
      <ion-button color="primary" slot="end" (click)="editOrgane(organe)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <!-- Bouton Supprimer -->
      <ion-button color="danger" slot="end" (click)="deleteOrgane(organe.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- État vide -->
  <div *ngIf="organes.length === 0" class="empty-state ion-text-center">
    <p>Aucun organe trouvé.</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="" [routerLink]="['/organes-form']">
      <ion-icon name="add-outline" style="font-size: 50px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Bouton retour -->
  <ion-button routerLink="/" expand="full">Retour au menu</ion-button>
</ion-content>
